test_repository/src/main/mule/test_repository.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="351d0fdd-0848-426a-85b2-689ef75fc850" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_repositoryFlow" doc:id="0cbfa3e0-466b-4e0a-b25e-771350c97f71" >
		<http:listener doc:name="Listener" doc:id="786923eb-51ad-45b8-b489-0867584941e4" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="test repository commit" doc:name="Set Payload" doc:id="4bdb0879-f0c3-4606-98f0-864242dd5433" doc:description="test repository commit"/>
		<logger level="INFO" doc:name="Logger" doc:id="29df96de-e6ec-4381-9f8f-704132a7165b" message="#[payload]"/>
	</flow>
</mule>
